@font-face {
    font-family: tenorite;
    font-display: block;
    src: url("tenorite.ttf");
}

* {
    font-family: Tenorite, "sans-serif";
}

body {
    background: linear-gradient(30deg, #fde482, #ac9cfe);
    background-size: 100%;
    min-height: 100vh;
}

.pictures {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
}
.picture {
    width: 220px;
    height: 360px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 4px 10px gray;
    overflow: hidden;
}

.picture p {
    padding-left: 5px;
}

.picture-img {
    width: 100%;
    height: 280px;
}

.picture a {
    text-decoration: none;
}
.picture a::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("lib/linkedin.png");
    background-size: 100%;
    margin-right: 5px;
}

img {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #333;
}

.text {
    display: flex;
    justify-content: center;
}

.ps, .ts
{
    width: 30%;
}
.ps {
    padding-top: 20px;
}
.ts {
    padding-bottom: 20px;
}

.about-us {
    text-align: center;
    margin-bottom: 40px;
}
.about-us p {
    margin-top: 0px;
}

button {
    border: 2px solid #333;
    background-color: transparent;
    color: #333;
	padding: 8px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px #333;
}
button a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 800px) {
    .pictures {
        flex-direction: column;
    }
    .picture {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        overflow-y: scroll;
    }
    .text {
        flex-direction: column;
    }
    .ps, .ts {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}